@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700");
/*------------------------------------*/
/*$RESET */
/*------------------------------------*/
/* line 7, sass/resources/_reset.sass */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 16, sass/resources/_reset.sass */
body {
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

/* line 21, sass/resources/_reset.sass */
* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 25, sass/resources/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, sass/resources/_reset.sass */
nav ul, li {
  list-style: none;
}

/* line 31, sass/resources/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 35, sass/resources/_reset.sass */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 40, sass/resources/_reset.sass */
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, sass/resources/_reset.sass */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* line 52, sass/resources/_reset.sass */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 57, sass/resources/_reset.sass */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 63, sass/resources/_reset.sass */
del {
  text-decoration: line-through;
}

/* line 66, sass/resources/_reset.sass */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 70, sass/resources/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 74, sass/resources/_reset.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 82, sass/resources/_reset.sass */
input, select {
  vertical-align: middle;
}

/* line 85, sass/resources/_reset.sass */
p {
  line-height: 1.875rem;
  margin: 0 0 1em 0;
  font-size: 1.125rem;
}

/* line 90, sass/resources/_reset.sass */
strong {
  font-weight: 600;
}

/* line 93, sass/resources/_reset.sass */
img {
  vertical-align: top;
  margin: 0;
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* line 100, sass/resources/_reset.sass */
iframe {
  display: block;
  margin: 0 auto;
}

@-webkit-keyframes linesA {
  0% {
    stroke-dashoffset: 908;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes linesA {
  0% {
    stroke-dashoffset: 908;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes lineB {
  0% {
    stroke-dashoffset: 310;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes lineB {
  0% {
    stroke-dashoffset: 310;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes lineC {
  0% {
    stroke-dashoffset: 520;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes lineC {
  0% {
    stroke-dashoffset: 520;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes rotateLogo {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotateLogo {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

/* line 43, sass/partials/_general.sass */
body {
  background: #000;
}

/* line 53, sass/partials/_general.sass */
.logo {
  width: 4.16667vw;
  margin: 1.04167vw;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

/* line 61, sass/partials/_general.sass */
.logo .name {
  display: block;
  text-align: center;
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.83333vw;
  letter-spacing: 0.52083vw;
  font-weight: 100;
  padding-top: 5px;
}

/* line 78, sass/partials/_general.sass */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

/* line 91, sass/partials/_general.sass */
.opening .logo-content {
  -webkit-perspective: 20.83333vw;
          perspective: 20.83333vw;
  width: 26.04167vw;
  display: block;
  margin: 0 auto;
}

/* line 97, sass/partials/_general.sass */
.opening .logo-content .logo-animated {
  width: 26.04167vw;
  display: block;
  margin: 0 auto;
  margin-top: calc(50vh - 9.84375vw);
  -webkit-animation: rotateLogo 5s infinite ease-in-out;
          animation: rotateLogo 5s infinite ease-in-out;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

/* line 106, sass/partials/_general.sass */
.opening .logo-content .logo-animated .st1 {
  stroke-width: 0.3px;
  stroke: #fff;
  stroke-dasharray: 908;
  -webkit-animation: linesA 1.5s ease-in-out;
          animation: linesA 1.5s ease-in-out;
}

/* line 113, sass/partials/_general.sass */
.opening .logo-content .logo-animated .st2 {
  stroke-width: 0.3px;
  stroke: #AFDD22;
  stroke-dasharray: 310;
  -webkit-animation: lineB 1.5s ease-in-out;
          animation: lineB 1.5s ease-in-out;
}

/* line 120, sass/partials/_general.sass */
.opening .logo-content .logo-animated .st3 {
  stroke-width: 0.3px;
  stroke: #AFDD22;
  stroke-dasharray: 520;
  -webkit-animation: lineC 1.5s ease-in-out;
          animation: lineC 1.5s ease-in-out;
}

/* line 130, sass/partials/_general.sass */
.menu {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* line 136, sass/partials/_general.sass */
.menu .wrap {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  background: rgba(26, 26, 26, 0.8);
  cursor: pointer;
  position: relative;
}

/* line 149, sass/partials/_general.sass */
.menu .wrap ul li {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  padding: 10px;
}

/* line 155, sass/partials/_general.sass */
.menu .wrap ul li svg {
  width: 100%;
  height: auto;
}
